input,
button {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

button {
    color: #333;
    background-color: #f4f4f4;
    outline: none;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border: 1px solid #eee;
    box-shadow: 2px 2px 2px #eee;
    padding: 10px;
}

input[type="text"] {
    width: 100%;
    height: 40px;
    text-align: right;
    font-size: 20px;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    outline: none;
    color: #000;
}

.calculator .buttons {
    display: flex;
    flex-wrap: wrap;
}

.calculator .buttons .operation {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.calculator .buttons .operation button {
    width: 24%;
}

.calculator .buttons .numbers {
    width: 75%;
}

.calculator .buttons .operation {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.calculator .buttons .numbers>div {
    display: flex;
    justify-content: space-between;
}

.calculator .buttons .numbers>div button {
    width: 32%;
}

.calculator .backspace {
    flex: 1;
}

.calculator .backspace button {
    margin-left: 5%;
    width: 95%;
    height: 46%;
    color: #fff;
}

.calculator .equal {
    flex: 1;
}

.calculator .equal button {
    margin-left: 5%;
    width: 95%;
    height: 46%;
    color: #fff;
}

.calculator button {
    outline: none;
}

button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


/* button operation colors */

.operator {
    background-color: #fca311;
    color: #fff;
}

.operator:hover {
    background-color: #e69500;
}

.clear {
    background-color: #dc3545;
    color: #fff;
}

.clear:hover {
    background-color: #c82333;
}

.equals,
.backspace {
    background-color: #0077b6;
}

.equals:hover {
    background-color: #005c8d;
}

.backspace:hover {
    background-color: #005c8d;
}